

body{
  min-height: 250px;
  background-color: whitesmoke;
}

.navbar{
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: #43425D;
  transition: 0.4s;
  color: black;
}

.nav-link{
  font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
  background-color: #3C3B54;
  color: white;
}

a{
  color: white;
}

#icon_home {
  width: 28px;
  height: 20px;
  padding: 10px;
  background: url(img/icons.png) 2px -3px;
}
#icon_dashboard {
  width: 28px;
  height: 20px;
  padding: 10px;
  background: url(img/icons.png) -84px -2px;
}
#icon_inbox {
  width: 28px;
  height: 20px;
  padding: 10px;
  background: url(img/icons.png) -110px -3px;
}
#icon_products {
  width: 28px;
  height: 20px;
  padding: 10px;
  background: url(img/icons.png) -168px -1px;
}
#icon_admin {
  width: 28px;
  height: 20px;
  padding: 10px;
  background: url(img/icons.png) -221px -2px;
}

#icon_search {
  width: 28px;
  height: 20px;
  padding: 10px;
  background: url(img/icons.png) -166px -39px;
}
#menu {
  width: 28px;
  height: 20px;
  padding: 10px;
  background: url(img/icons.png) 1px -40px;
}
#icon_twitter {
  width: 28px;
  height: 20px;
  padding: 10px;
  background: url(img/icons.png) -282px -1px;
}
#icon_facebook {
  width: 28px;
  height: 20px;
  padding: 10px;
  background: url(img/icons.png) -310px -2px;
}
#icon_linkedin {
  width: 28px;
  height: 20px;
  padding: 10px;
  background: url(img/icons.png) -338px -2px;
}
#icon_social-media {
  width: 28px;
  height: 20px;
  padding: 10px;
  background: url(img/icons.png) -365px -3px;
}

.notification {
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: 21px;
  right: -114px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.top{
  margin-top: 10px;
}
.usa{
  color: #c7c7d1;
}
.searchbar{
  color: white;
  height: 27px; 
  width: 336px;
}

.text {
  font-size: 10px;
  padding-left: 10px;
  padding: 18px;
}
h6{
  font-size: 0.5rem;
}
video{
  margin-left: -3px;
  width: 235px; 
  height: 240px;
  margin-top: -48px;
}
.vid{
  max-width: 18rem; 
  margin-top: 70px;
  border: 1px solid white;
  margin-left: 66px;
}
.image{
  height: 300px; 
  width: 300px;
  border: 10px solid white;
  border-radius: 10px;
}
.pic{
  height: 70px; 
  width: 70px;
  border-radius: 50%;
  padding: 14px;
}
.pic1{
  height: 80px; 
  width: 80px;
  border-radius: 50%;
  padding: 13px;
}
.tables{
  width: 50%;
  margin-top: 6px;
  margin-left: -88px;
  font-size: 14px;
  background-color: white;
}


  /* @media (min-width: 2400px) {
    .container {
        width: 1920px; 
    }
  }

  @media (max-width: 1920px) {
    .container {
        width: 1800px; 
    }
  } */

  /* .container {
    @media screen and (max-width: 1920px) {
    width: 1800px; 
    }
} */

@media screen and (min-width: 1920px) {
  .container {
    width: 1800px; 
  }
}